<%if (positionheader == "top") { %>

<nav class="navbar  navbar-dark" style="background-color: #FF0000;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#" style="color:white;">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" style="color:white;">Home</a></li>
        <li><a href="#" style="color:white;">About</a></li>
        <li><a href="#" style="color:white;">Projects</a></li>
        <li><a href="#" style="color:white;">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" style="color:white;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<% } if (positionimages == "top"){ %>
<div class="container-fluid text-center" style="background-color:gray; margin-top:10px; margin-bottom:-10px;">

   <% contentimages.forEach(function(img) { %>
	<img style="padding:15px; height:175px; width:175px; border-radius: 10px;" title=<%= img.substring(img.lastIndexOf("/") + 1, img.lastIndexOf("."));%> src=<%= img %>></img>
	
	 <% }); %>
</div>

<% } %>

